################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hangman project/v15
/Debug/hangman project.tlog
/x64/Debug
